.billboardCard {
  /* Sizing */
  font-size: 1.5em;
  width: 100%;
  height: fit-content;
  padding: 15px;
  border-radius: 30px;

  /* Colors */
  background-color: var(--primary-color);
  color: var(--font-color);
  
  /* Flex Parent Properties */
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* Behavior */  
  user-select:none;
  cursor: pointer;
}

.billboardCardContainer:hover {
  /* filter: drop-shadow(0px 0px 4px var(--glow-active)); */
  transition: filter 0.5s;
}

.selected {
  filter: drop-shadow(0px 0px 4px rgba(161, 13, 230, 0.5));
  transition: filter 0.5s;
}

.selected:hover {
  filter: drop-shadow(0px 0px 4px rgba(161, 13, 230, 0.75));
  transition: filter 0.5s;
}

.billboardCard > img {
  width: 220px;
  height: 122px;
  border-radius: 15px;
}

.descriptionContainer {
  margin-left: 15px;
  padding-left: 0px;
  height: fit-content;
  width: auto;
}

.selectButton {
  margin-left: 15px;
  padding: 15px;
  border-radius: 15px;
  width: fit-content;
  height: 75px;
  background-color: green;
  display: flex;
  align-items: center;
}

/* @media (prefers-color-scheme: dark) {
  .billboardContainer {
    background-color: #353b48;
    color: white;
  }
} */