.navButton {
  /* background-color: rgba(255, 255, 255, 0); */
  height: 100%;
  width: fit-content;

  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--font-color);
  box-sizing: border-box;
  border-bottom: 2px solid transparent;

  font-size: 1.5em;
  font-weight: 300;

  cursor: pointer;
  transition: transform 0.3s;
}

.navButton:hover {
  color: var(--font-color-hover);
}

.textContainer {
  user-select: none;
}

@media only screen and (min-width: 600px) {
  .navButton {
    float:left;
    text-align: start;
  }
  
  #navButton--logout {
    margin-left: auto;
  }
}