.navButton {
  /* background-color: rgba(255, 255, 255, 0); */
  height: 100%;
  width: fit-content;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;

  font-size: 1em;
  font-weight: 300;

  cursor: pointer;
  transition: transform 0.3s;
}

.navButton:hover {
  color: rgb(83, 83, 83);
}

.textContainer {
  user-select: none;
}

@media only screen and (min-width: 600px) {
  .navButton {
    float:left;
    text-align: start;
  }
  
  #navButton--logout {
    margin-left: auto;
  }
}