:root {
  --primary-color: #F4F4F4;
  --secondary-color: #cfcfcf;
  --font-color: black;
  --font-color-hover: #616161;
  --bg-color: white;
  --glow: rgba(0,0,0,0.25);
  --glow-active: rgba(0,0,0,0.5);
}

/* :root {
  --primary-color: #091120;
  --secondary-color: #E0B1CB;
  --font-color: #64568b;
  --font-color-hover: #9064b4;
  --bg-color: #04080F;
  --glow: rgba(255, 255, 255, 0.25);
  --glow-active: rgba(255, 255, 255, 0.5);
} */

[data-theme="dark"] {
  --primary-color: #252525;
  --secondary-color: #2e2e2e;
  --font-color: #ffffff;
  --bg-color: #2f3640;
  --heading-color: #818cab;
}

/* * {
  border: 1px solid red;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  height: 100vh;
}

#__next {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
